.wrapp {
    cursor: pointer;
    position: relative;
    min-height: 60px;
    min-width: 280px;
    background-color: #f0f1f2;
    border-radius: 1.00rem;
    border: 1px solid transparent;
    user-select: none;
}

.wrapp.active {
    border: 1px solid red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    .content {
        display: block;
        position: absolute;
        top: 102%;
        left: -2px;
        width: 100%;
    }

    .select {
        svg {
            transform: rotate(180deg);
        }
    }
}

.title {
    position: absolute;
    top: 10px;
    left: 24px;
    font-size: 1.04rem;
    font-weight: 400;
    line-height: 1rem;
    font-family: "Fira Sans";
}

.select {
    font-size: 12.5pt;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    svg {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5%;
        top: calc(50% - 10px);
        transition: transform 0.2s ease;
    }
    span{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    p{
        font-family: "Fira Sans";
    }
}


.content {
    height: fit-content;
    position: absolute;
    bottom: 0px;
    display: none;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    border: 1px solid transparent;
    z-index: 999;

    div {
        width: calc(100% - 15px);
        height: 40px;
        background-color: #f0f1f2;
        display: flex;
        align-items: center;
        padding-left: 15px;
        cursor: pointer;
    }
    
    div:hover {
        background-color: #cecece;
    }
}

.selected {
    position: absolute;
    top: 65%;
    left:35px;
    transform: translate(0%, -18%);
}

.centered {
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
}

@media (max-width: 455px) {
    .wrapp {
        min-height: 45px;
        min-width: 250px;
    }
}

@media (max-width: 425px) {
    .wrapp {
        min-width: 210px;
    }

    .title {
        top: 2px;
        font-size: 0.80rem;
    }

    .select {
        font-size: 11pt;
    }
}

@media (max-width: 350px) {
    .wrapp {
        min-width: 175px;
        min-height: 40px;
    }
}

@media (max-width: 330px) {
    .wrapp {
        min-width: 170px;
        min-height: 35px;
    }
}

@media (max-width: 300px) {
    .wrapp {
        min-width: 170px;
        min-height: 32px;
    }

    .title {
        top: 1px;
        font-size: 0.70rem;
    }

    .select {
        font-size: 10pt;
    }
}

@media (max-width: 280px) {
    .wrapp {
        min-width: 240px;
    }
}

@media (max-width: 250px) {
    .wrapp {
        min-width: 210px;
    }
}