.chapter-page {
  margin: 20px 20px 0 20px;
  display: grid;
  grid-template-areas:
    "chapter-title"
    "chapter-content";
  gap: 10px;
  justify-content: start;
  grid-template-columns: 1fr;
  body {
    overflow-x: hidden;
  }
  .chapter-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    p:last-child {
      user-select: none;
    }

    width: 100%;
    grid-area: chapter-title;
    justify-self: start;

    .chapter-name {
      font-size: 16pt;
      margin-bottom: 3px;
      font-family: "Poppins-SemiBold", Helvetica;
      font-weight: 600;
      color: white;
    }

    .manga-name {
      margin-bottom: 17px;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      color: white;
    }

    .translator {
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 16pt;
      font-weight: bold;
      margin-top: 7px;
    }
  }

  .read-progress-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 20px;
    /* CSS */
    .c-server {
      position: relative;
    }

    .select-menu {
      appearance: none;
      background-color: #222;
      color: white;
      border: 1px solid #444;
      padding: 10px 16px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      outline: none;
    }

    .select-menu option {
      color: white;
      background-color: #222;
    }

    .select-menu::-ms-expand {
      display: none;
    }

    .select-menu::after {
      content: "\25BC";
      position: absolute;
      top: calc(50% - 4px);
      right: 10px;
      color: #fff;
      pointer-events: none;
    }
  }

  .read-progress-info div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #2c3e50; /* Choose your background color */
    color: white;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  .c-server {
    position: relative;
    display: inline-block;
    cursor: pointer;
    right: 8px;
  }

  .c-server p {
    margin-top: 5px;
  }

  .c-menu {
    flex-direction: row;
    position: relative;
    cursor: pointer;
    left: 8px;
  }

  .menu-icon {
    margin-right: 5px; /* Adjust the margin as needed */
  }

  .c-menu p {
    margin-top: 5px;
  }

  .c-menu svg {
    margin-left: 5px;
    margin-top: 2px;
  }

  .c-vol p {
    margin-top: 5px;
  }

  .c-pg p {
    margin-top: 5px;
  }

  .chapter-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      user-select: none;
      align-items: center;
    }

    .left-button {
      position: absolute;
      top: 50%;
      left: -40px; /* Adjust as needed */
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 1; /* Ensure it's above the image */
    }

    .right-button {
      position: absolute;
      top: 50%;
      right: -40px; /* Adjust as needed */
      size: 3cm;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 1; /* Ensure it's above the image */
    }
  }
}

@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .chapter-page {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0 10px;
    .chapter-title {
      text-align: center;
      width: auto;

      .chapter-name {
        font-size: 20px;
      }
      .manga-name {
        font-size: 18px;
      }
      .translator {
        font-weight: lighter !important;
        font-size: 14px;
      }
    }
    .read-progress-info {
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 30px 0 20px;
      justify-content: center;
      align-items: center;
      width: auto;

      div {
        font-weight: lighter;
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 10px;
        margin-bottom: 10px;
        white-space: nowrap; /* Ensure text stays in a single line */
      }
    }
    .chapter-content {
      min-height: 100vh;
      padding: 0 30px 0 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        max-width: 90%; /* Ensure images don't exceed their container width */
        width: auto; /* Add this property to make images responsive */
        height: auto;
        user-select: none;
      }
    }
  }
}
