.suggestion-page {
    //background-color: var(--background_color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.suggest-content {
    width: 100%;
    // padding-left: 20px;
    // margin-left: 10px;
    // margin-right: 10px;
    padding-bottom: 45px;
    height: 100%;
    justify-self: flex-start;
}

.suggest-item {
    width: 100%;
    //margin-top: 30px;
}

.suggest-item-content {
    width: 100%;
}

@media (max-width: 340px) {
    .suggest-item {
        margin-top: 10px;
    }
}

.banner {
    //position: relative;
    background-color: black;
    height: 300px;
    border-radius: 26px;
}

.banner-text {
    color: white;   
    position: absolute;
    z-index: 3;
}

.bg-image {
    position: relative;
    margin: 15px 0px 0px 0px;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0);
}

.bg-text {
    color: white;
    font-weight: normal;
    position: absolute;
    //transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    top: 10%;
    display: -webkit-box;
    height: 200px;
    // text-overflow: ;
    // overflow: hidden;
    // -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    //text-align: center;
}

.read-now-btn {
     position: absolute;
     margin-top: 20px;
    padding: 8px 24px;
    background-color: yellow;
    border : solid 4px white;
    font-weight: bold;
    border-radius: 50px;
}