.wrapp {
    display: grid;
    grid-template-columns:3fr 1fr ;
    gap: 40px; 
}

@media (max-width: 900px) {
    .wrapp {
        grid-template-columns: 1fr;
    }
}

.chapters-choose {
    display: flex;
    flex-direction: column;
}

