.manga-img {
    width: 93px;
    overflow: hidden;
    border-top-left-radius: 0.5ch;
    border-bottom-left-radius: 0.5ch;
    img {
        width: 220px;
        left: -20px;
        user-select: none;
        pointer-events: none;
    }
}

.manga-de {
    padding: 1rem;
    max-width: 200px;

    p:first-child {
        font-size: 15pt;
        color: #242424;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    p:last-child {
        font-size: 13pt;
    }
}

.manga-img-var2 {
    position: relative;
    width: 195px;
    height: 273px;
    border-radius: 4px;
    img {
        width: 195px;
        height: 273px;
        border-radius: 4px;
    }

    .flag-img-var2 {
        position: absolute;
        bottom: 0.375rem;
        right: 0.5rem;
        width: 24px;
        height: 24px;
        
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.manga-de-var2 {
    width: 188px;
    p {
        font-size: 12pt;
        color: #242424;
    }
}

.manga-var3-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.manga-img-var3 {
    position: relative;
    width: 160px;
    height: 240px;
    border-radius: 4px;
    img {
        width: 160px;
        height: 240px;
        border-radius: 4px;
    }

    .flag-img-var3 {
        position: absolute;
        bottom: 0.375rem;
        right: 0.5rem;
        width: 24px;
        height: 24px;
        
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.manga-de-var3 {
    width: 160px;
    p {
        font-size: 12pt;
        color: #242424;
    }
}

.manga-var3-button {
    border-radius: 8px;
    width: 160px;
    background-color: #092635;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    p {
        margin: 4px 6px ;
        overflow-x: hidden;
        font-size: 12px;
        color: white;
    }
}

.mangavar4-main{
    border-bottom: 1px solid black;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.manga-img-var4 {
    //position: relative;
    width: 60px;
    height: 90px;
    //border-radius: 14px;
    img {
        width: 60px;
        height: 90px;
        //border-radius: 14px;
    }
}

.manga-de-var4 {
    p {
        font-size: 12pt;
        color: #242424;
    }
}


.counter {
    padding-right :15px;
    padding-left :10px;
    // border : 1px solid black;
}